:root{
	box-sizing: border-box;
	font-family: 'Lato';
}

*,
::after,
::before{
	box-sizing: inherit;
}

	.wrapper{
		max-width: 1100px;
		width: 100%;
		margin: 0 auto;
	}

	/*navigation in header*/
	.padding_nav{
		padding: 1em;
	}

	.nav_list{
		display: flex;
		margin: 0;
		padding-left: 0;
		list-style-type: none;
		align-items: center;	
	}

	.links{
		display: block;
		color: #635c73;
		text-decoration: none;
		font-weight: bold;
		margin-right: 1.5em;
	}

	.header_button{
		width: 60%;
		border-radius: 1.5em;
		padding-top: .5em;
		padding-bottom: .5em;
		border:0;
		background-color: #8d81ac;
		color:#fff;
		font-weight: bold;
	}

	.header_button:hover{
		background-color: #fff;
		color: #635c73;
	}

	.flex_logo_right{
		flex:3;
	}

	.flex_item_button{
		flex:2;
	}

	.fork_name{
		margin-left: .5em;
		text-transform: uppercase;
	}

	.fork_color{
		color: #000;
	}

	/*main heading*/
	.background_heading{
		background: url(background_header/ForkApp.jpg) no-repeat center center fixed;
		background-size: cover;
	}

	.main_heading,
	.heading_description,
	.fork_version,
	.position_button{
		text-align: center;
	}

	.main_heading{
		font-size: 5rem;
		color: #fff;
		margin-bottom: 0;
	}

	.heading_description{
		font-size: 2rem;
		color:#8d81ac;
		margin: 0;
	}

	.fork_version{
		color: #848e97;
		margin-top: 0;
		font-weight: lighter;
	}

	.padding_heading{
		padding: 4em 0 25em 0; 
	}

	.position_button{
		position: relative;
		top: 1em;
	}

	.download_button{
		border:0;
		padding: .5em 1.5em;
		border-radius: 1em;
		color: #fff;
		font-weight: bold;
		background-color: #8d81ac;
	}

	.download_button:hover{
		color:#000;
		background-color: #fff;
	}

